{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Your Preferences</title>
    <!-- Bootsrtap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Favicons -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
 
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}
    </style>
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Rouge Script' rel='stylesheet'>
    <!-- Custom styles for this template -->
  </head>
  <body>
  <div class="nav-link">

          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="darkSwitch">
            <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
          </div>
          <script>
            const darkSwitch = document.getElementById('darkSwitch');
window.addEventListener('load', () => {
  if (darkSwitch) {
    initTheme();
    darkSwitch.addEventListener('change', () => {
      resetTheme();
    });
  }
});

function initTheme() {
  const darkThemeSelected =
    localStorage.getItem('darkSwitch') !== null &&
    localStorage.getItem('darkSwitch') === 'dark';
  darkSwitch.checked = darkThemeSelected;
  darkThemeSelected ? document.body.setAttribute('data-theme', 'dark') :
    document.body.removeAttribute('data-theme');
}

function resetTheme() {
  if (darkSwitch.checked) {
    document.body.setAttribute('data-theme', 'dark');
    localStorage.setItem('darkSwitch', 'dark');
  } else {
    document.body.removeAttribute('data-theme');
    localStorage.removeItem('darkSwitch');
  }
} 
  </script>
    <div class="container">
  <header class="news-header py-3">
    <div class="row-12 text-center">
      <a class="news-header-logo text-dark" href="{%url 'home_page' %}"><img src="{% static 'news/images/lightlogo.png' %}" style= "height:2%; width:5%;"></a>
      <br>
      <h4 style="font-family: Rouge Script;font-size: 50px; "><b>Preferred News</b></h4>
    </div>
  </header>
  
    <h3 class="pb-4 mb-4 font-italic border-bottom text-left">
      <div class="row">
        <div class="text-left col-6">
          Your preferences
        </div>
        <div class="text-right col-6">
          <a class="btn btn-sm btn-outline-secondary text-right" id="myBtn">Customize your preferences</a>
          <a class="btn btn-sm btn-outline-secondary text-right" onclick="refresh()">Refresh Feed</a>
        </div>
      </div>
    </h3>
  
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content" id="prefcontainer">
        <span class="close"><button class="pb-4 mb-4 font-italic close" name="save">Confirm Changes</button>
        <h3 class="pb-4 mb-4 font-italic border-bottom">
          Choose your preferences
        </h3>
      </span>
        <div class="row mb-2">
          <div class="col-md-3">
          <button class="btn btn-sm btn-outline-secondary" id="business" onclick='add(this)'>Business</button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-sm btn-outline-secondary" id="entertainment" onclick='add(this)'>Entertainment</button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-sm btn-outline-secondary" id="general" onclick='add(this)'>General</button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-sm btn-outline-secondary" id="health" onclick='add(this)'>Health</button>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-3">
            <button class="btn btn-sm btn-outline-secondary" id="science" onclick='add(this)'>Science</button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-sm btn-outline-secondary" id="sports" onclick='add(this)'>Sports</button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-sm btn-outline-secondary" id="technology" onclick='add(this)'>Technology</button>
          </div>
        </div>
      </div>
    
    </div>


  <div class="container" style="text-align: center;">
    
  <div class="row mb-2">
    {% for pos1 in totalResults %}
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{specific|index_value:pos1}}</strong>
            <h3 class="mb-0">{{title|index_value:pos1}}</h3>
            <div class="mb-1 text-muted">{{author|index_value:pos1}}</div>
            <p class="card-text mb-auto">{{content|index_value:pos1}}</p>
            <a href="{{ url|index_value:pos1 }}" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src= {{ image|index_value:pos1 }} alt="Avatar" width="150" height="150"  onerror="this.onerror=null;this.src='https://media.istockphoto.com/photos/news-background-wallpaper-breaking-news-tag-in-the-center-of-banner-picture-id881903844?k=6&m=881903844&s=612x612&w=0&h=HbxI2Uh_utZifCK7KqIBGWG3eby12RLBaFI48K1K-gU=';">
            
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
</div>


    </div>

<script>
// Get the modal
{% for pos in total %}
  document.getElementById('{{ category|index_value:pos }}').classList.toggle("active");
{% endfor %}
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];


// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
function add(cell){
  cell.classList.toggle("active");
}

function refresh(){
  location.reload();
}

var pref = ''; //preferences string

var URL = "{% url 'preferences' %}";
    function save_pref(){
      var data = {'pref': pref};
      $.post(URL, data, function(response){
        
      });
      pref = '';
    }
    $(document).ready(function(){
      $("button[name='save']").click(function(){
        var activePrefs = document.getElementById("prefcontainer").getElementsByClassName("active");
        for(let i=0;i<activePrefs.length;i++)
        {
          pref += activePrefs[i].getAttribute("id");
          pref += '+';
        }
        save_pref();
      });
    });


</script>

</body>
</html>



